@font-face {
    font-family: "sans";
    src: url("../fonts/IRANSans.woff2");
}

@font-face {
    font-family: "light_sans";
    src: url("../fonts/IRANSansWeb_Light.woff2");
}

@font-face {
    font-family: "medium_sans";
    src: url("../fonts/IRANSansWeb_Medium.woff2");
}

@font-face {
    font-family: "bold_sans";
    src: url("../fonts/IRANSansWeb_Bold.woff2");
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
    background-color: #e4f7ff;
    min-height: 92vh;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}
.medium-sans {
    font-family: medium_sans !important;
    font-size: 12px;
}

.bold-sans {
    font-family: bold_sans !important;
    font-size: 12px;
}

.light-sans {
    font-family: sans !important;
    font-size: 12px;
}

.sans {
    font-family: sans !important;
    font-size: 12px;
}

.sans-small {
    font-family: sans !important;
    font-size: 10px;
}

.sans-xsmall {
    font-family: sans !important;
    font-size: 9px;
}

.sans-xxsmall {
    font-family: sans !important;
    font-size: 8px;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

.no-resize {
    resize: none !important;
}

.pointer {
    cursor: pointer !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(151, 151, 151);
}

.row {
    direction: rtl;
}
.no-drop {cursor: no-drop;}
