.search-box {
    margin: auto;
    position: relative;
    font-weight: 900;
    padding: 0;
}

.search-box input {
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
    margin: 0px;
    padding: 3px 25px;
    border: 1px solid #ced4da;
}

.search-box .search-icon {
    width: 15px;
    position: absolute;
    right: 6px;
    top: 7px;
}
.search-box ul {
    position: absolute;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0 !important;
    background-color: #f8f9fa !important;
    border: 1px solid #ced4da;
    border-top: 0;
    max-height: 200px;
    overflow: auto;
}
.search-box ul li {
    direction: rtl;
    text-align: right;
    padding: 3px 5px;
    margin: 0;
    display: block;
    font-family: 'light_sans';
}

.search-box ul li:hover {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

@media(min-width:705px){
    .search-box{
        margin: 5px 15px;
    }
}