.search-box {
    margin: auto;
    position: relative;
    font-weight: 900;
    padding: 0;
    margin: 0px;
    height: 38px;
    border-radius: 0.25rem;
}

.search-box input {
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
    margin: 0px;
    padding: 3px 25px;
    border: 1px solid #ced4da;
    text-align: right;
    direction: rtl;
    border-radius: 0.25rem;
}

.search-box .search-icon {
    width: 15px;
    position: absolute;
    right: 6px;
    top: 11px;
}
.search-box ul {
    z-index: 999;
    position: absolute;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0 !important;
    background-color: #f8f9fa !important;
    border: 1px solid #ced4da;
    border-top: 0;
    max-height: 200px;
    overflow: auto;
}

.search-box ul li {
    direction: rtl;
    text-align: right;
    padding: 3px 5px;
    margin: 0;
    display: block;
    font-family: "light_sans";
    border-bottom: 1px solid rgb(224, 224, 224);
}

.search-box ul li:hover {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

@media (max-width: 705px) {
    .search-box {
        margin: auto;
    }
}
.searchbox-selected {
    position: absolute;
    z-index: 9999;
    background-color: #f1f4f7;
    border-radius: 0.25rem;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    text-align: right;
    vertical-align: middle;
    padding: 7px;
}
/* .searchbox-selected span:first-child {
    display: inline;
} */
.searchbox-selected span:last-child {
    float: left;
    cursor: pointer;
}
