.flower-info {
    padding: 10px;
    direction: rtl;
    text-align: center;
    border: 1px solid rgb(238, 238, 238);
    margin-bottom: 10px;
    background-color: #b4e4ff;
    border-radius: 5px;
}

.flower-info label {
    padding: 5px 10px;
    margin: 0;
}

.flower-info span {
    padding: 5px 0 5px 5px;
    border-radius: 3px;
    font-weight: 900;
}