.rn-input-wrapper {
    display: flex;
    width: 100% !important;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.rn-input-wrapper input {
    box-shadow: none !important;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100% !important;
    border-radius: 0.25rem;
}

.rn-date-wrapper {
    font-family: sans !important;
}

.rn-datepicker {
    top: 40px !important;
    padding: 19px !important;
}

.rn-date-wrapper.datepicker {
    width: 100% !important;
}

.rn-datepicker {
    border: 1px solid darkgray;
    border-radius: 0.25rem;
}

.rn-date-wrapper,
.rn-main {
    z-index: 999 !important;
}