.react-input {
    width: 100%;
    direction: rtl;
}

.react-input input {
    width: 100%;
}

.react-input .message {
    color: red;
    font-size: 9pt;
}

.labels-area {
    display: flex !important;
    justify-content: space-between !important;
}