.side-nav {
    height: 100%;
    position: absolute;
    width: 50%;
    transition: 0.3s;
    z-index: 99999;
    background-color: #f1f4f7;
    border: 1px solid rgb(189, 189, 189);
}

@media(max-width: 705px) {
    #side-navbar {
        direction: rtl !important;
    }
    .dropdown:hover>.dropdown-menu {
        display: block !important;
    }
}